__pycache__/
__pycache__/*
*.pyc
venv/
venv/*
flask_session/
flask_session/*
.env
instance/*.db
node_modules/
node_modules/*
.vscode/
.DS_Store
Thumbs.db
.pretterrc
journal.txt
database_notes.txt
.gitignore
testing.py
.agents
.agents/*