{% extends 'layout.html' %} {% block content %}
<div
  class="group fixed flex h-15 w-15 items-center justify-center rounded-full border bg-red-800 text-center"
>
  <h1>?</h1>
  <div
    class="fixed top-10 left-0 hidden h-1/2 w-1/2 items-center justify-center bg-white p-5 group-hover:flex group-hover:flex-col"
  >
    <p>This is the About page for the project.</p>

    <p>
      JavaScript has not been used in this project yet, as the main focus was on
      building and strengthening the backend functionality first. While I do
      understand the core concepts of JavaScript, I plan to dedicate more time
      to learning and applying it in future improvements to enhance
      interactivity across the website.
    </p>

    <p>
      This was also my first time using Tailwind CSS, which is why the design
      may appear less refined or user-friendly in some areas. However, this was
      intentional as part of the learning process.
    </p>

    <p>
      The goal of this project was to challenge myself by setting a limited
      timeframe and seeing how much functionality I could implement within a few
      weeks, prioritising backend development and working system features over
      perfect UI design.
    </p>
  </div>
</div>
<section>
  <div class="flex flex-col items-center justify-center p-5">
    <h1>MONO</h1>
    <div>
      <img
        src="{{ url_for('static', filename='media/storeimage(2).png') }}"
        alt="MONO Store Shop"
        class="rounded-2xl"
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste mollitia ut
      aspernatur laborum eius, suscipit illum dicta dolorem, quam totam, tempora
      praesentium laboriosam dignissimos quos incidunt molestiae tenetur
      exercitationem commodi. A, nemo quas, magni ipsa, fugit necessitatibus
      fugiat nisi eveniet odio repudiandae veritatis perferendis voluptatum
      minima perspiciatis harum exercitationem at facilis corporis est? Iste
      corrupti explicabo, nesciunt eveniet iure eligendi? Eligendi officiis
      suscipit recusandae id saepe explicabo maiores magni molestias labore
      harum voluptatem temporibus, voluptatum similique ullam debitis itaque
      aliquid odit? Voluptatum temporibus quo commodi illo, hic distinctio
      eligendi ab. Iste facilis repellat omnis, quibusdam ex fuga iusto, beatae
      minus labore sint voluptatibus laborum odio incidunt culpa quod magnam
      earum excepturi. Corrupti quas hic, voluptate enim molestiae ratione?
      Repudiandae, tempora. Dignissimos, culpa sed. Consectetur illum, aut earum
      asperiores possimus, dolorum atque maiores vel tempora eum labore error
      sit, recusandae quia harum sequi consequatur doloremque! Beatae esse illum
      quo obcaecati temporibus? Earum accusamus autem distinctio, illo, ipsum
      non nostrum velit doloremque quibusdam dolorem incidunt possimus adipisci
      nemo minus! Assumenda magnam est dignissimos nihil fugit inventore, totam
      tenetur commodi! Necessitatibus, ullam inventore! Sapiente explicabo velit
      repudiandae, ipsa tempora facilis quod unde laborum impedit eos suscipit
      est. Dolores mollitia odit eius similique, voluptas velit dignissimos quos
      quam, ut neque quo earum sunt fugiat. Veniam rem iste dolores ratione
      placeat, quas cum possimus, voluptatum rerum minima quos ipsa earum
      accusantium sunt enim et quo quia quidem provident autem? Aliquid
      architecto pariatur sequi et dolorem. Natus expedita ipsam excepturi saepe
      veniam neque temporibus in vero voluptas quo, inventore aut, cupiditate
      doloremque laboriosam ad nostrum fugiat alias culpa placeat quam ipsa
      deserunt non ipsum. Explicabo, minima! Ipsam maxime voluptatem cum,
      eligendi blanditiis obcaecati fugiat. Velit vel vitae delectus voluptatum
      placeat fuga dignissimos! Consequuntur dolores facere hic magnam labore!
      Amet sed autem, quo nihil sit aperiam voluptatem.
    </p>
  </div>
</section>
<section>
  <div class="flex justify-evenly p-5">
    <div>
      <h1>About Mono</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea asperiores
        nobis earum placeat eaque. Voluptate repellat debitis eum consequuntur
        quibusdam voluptatum ipsum, quae perferendis quasi, nesciunt omnis
        deserunt culpa. Magnam! Ratione amet laborum porro, saepe fugiat quidem
        soluta ea voluptatum magni dolorum expedita possimus voluptate
        asperiores facere illo aspernatur eveniet qui et! Quis modi sit eos a
        praesentium quibusdam accusantium. Itaque corrupti distinctio,
        blanditiis reiciendis quidem ducimus voluptatibus aspernatur quae animi
        quam eos inventore sunt eligendi laboriosam quaerat. Id maiores cum
        dolorem odit repellendus maxime enim ab alias qui reiciendis. Ex hic
        reiciendis atque tenetur sunt. Dignissimos illum corporis omnis enim
        officiis fugit inventore expedita quis. Aliquam, quo, aliquid nulla
        quaerat quam ut at, accusamus tempora molestias hic nisi aspernatur?
        Fugit quo ex, fuga tenetur quidem repudiandae enim culpa animi
        recusandae totam, ipsum accusamus odio rerum officia excepturi,
        perspiciatis reprehenderit? Voluptate aliquam sapiente id ducimus
        recusandae sit amet illo asperiores?
      </p>
    </div>
    <div>
      <img
        src="{{ url_for('static', filename = 'media/storeimage(3).png') }}"
        alt="Store Image"
        class="rounded-2xl"
      />
    </div>
  </div>
</section>
<section>
  <div class="flex">
    <div>
      <img
        src="{{url_for('static', filename='media/storeimage.png')}}"
        alt="Store Image"
        class="rounded-2xl"
      />
    </div>
    <div>
      <h1>MONO Values</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti nemo
        explicabo, hic dolorum tenetur recusandae doloremque reiciendis debitis
        fugit maiores et nulla obcaecati expedita suscipit temporibus
        consectetur ratione veritatis ab. Asperiores iste excepturi illo ex,
        fugit at incidunt in architecto possimus perferendis aut quod voluptate
        nostrum modi, laborum soluta quidem exercitationem. Sit vitae provident,
        doloribus voluptates dolor non vero dicta. Aut cupiditate voluptates
        quis libero inventore excepturi, iusto cumque reiciendis sequi impedit
        at velit nobis quibusdam rem odio repellat voluptatibus ducimus modi
        fuga distinctio optio placeat? Numquam accusamus expedita dolor.
        Praesentium possimus perferendis repudiandae quos, velit itaque eos
        consequuntur beatae labore aliquam cupiditate adipisci blanditiis
        distinctio similique accusantium quas ut, facere nostrum nesciunt totam
        placeat iste et tempora autem? Unde? Consectetur, reprehenderit itaque?
        Itaque accusamus voluptatem exercitationem ipsam vero. Ab eveniet
        ducimus facilis sit eius, quos nisi tempore delectus dolor facere enim
        repudiandae earum provident! Ullam et tenetur ipsa qui.
      </p>
    </div>
  </div>
</section>
{% endblock %}
