{% extends 'layout.html' %} {% block content %}
<div
  class="group fixed flex h-15 w-15 items-center justify-center rounded-full border bg-red-800 text-center"
>
  <h1>?</h1>
  <div
    class="fixed top-10 left-0 hidden h-1/2 w-1/2 items-center justify-center bg-white p-5 group-hover:flex group-hover:flex-col"
  >
    <p>
      This page displays all products currently stored in the database. The
      products and their associated images are retrieved through a database
      query and passed into Python as variables. Using Flask, Tailwind CSS, and
      Jinja2 templating, the products are dynamically rendered onto the page.
    </p>

    <p>
      I haven’t implemented filters or a grid layout yet, as my focus was
      primarily on ensuring the functionality worked correctly.
    </p>

    <p>
      All products are available to test using Stripe’s sandbox payment gateway.
      You can add items to the cart and visit the cart page to explore the
      payment process.
    </p>
  </div>
</div>
<section>
  <div class="p-2">
    <h1 class="text-center">All Products</h1>

    <div class="grid grid-cols-4 gap-10">
      {% for product in products %}
      <form
        action="{{ url_for('add_to_cart', product_id = product['product_id'] ) }}"
        method="post"
      >
        <input
          type="hidden"
          name="product_id"
          value="{{ product['product_id'] }}"
        />
        <div class="card flex flex-col items-center justify-center">
          <img
            src="{{ product['image_url'] }}"
            alt="{{ product['product_name'] }}"
            class="h-full w-full rounded-xl"
          />
          <div class="flex w-full flex-col items-center justify-center p-1">
            <h3>{{product['product_name']}}</h3>
            <p>£{{ "{:.2f}".format(product['product_price'])}}</p>
            <button class="pbutton" type="submit">Add to cart</button>
            <button
              class="sbutton"
              formaction="{{ url_for('product_page', product_id = product['product_id'] )}}"
              formmethod="get"
              value="{{product['product_id']}}"
              type="submit"
            >
              View Product
            </button>
          </div>
        </div>
      </form>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
