{% extends 'layout.html' %} {% block content %}
<section></section>
<section>
  <div class="p-2">
    <h1 class="text-center">All Products</h1>

    <div class="grid grid-cols-4 gap-10">
      {% for product in products %}
      <form
        action="{{ url_for('add_to_cart', product_id = product['product_id'] ) }}"
        method="post"
      >
        <input
          type="hidden"
          name="product_id"
          value="{{product['product_id']}}"
        />
        <div class="card flex flex-col items-center justify-center">
          <img
            src="{{ product['image_url'] }}"
            alt="{{product['product_name']}}"
            class="h-full w-full rounded-xl"
          />
          <div class="flex w-full flex-col items-center justify-center p-1">
            <h3>{{product['product_name']}}</h3>
            <p>£{{product['product_price']}}</p>
            <button class="pbutton" type="submit">Add to cart</button>
          </div>
        </div>
      </form>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
