{% extends 'layout.html' %} {% block content %}
<section>
  <div class="flex flex-col items-center justify-center p-5">
    <h1>Your Cart</h1>
    <p>
      I have used stripe payments in sandbox mode to make the payments form and
      process a test payment as found in some of the other projects in CS50. No
      need to enter any card information that is real.
    </p>
    {% if cart %}
    <div class="w-full">
      {% for product in cart %}
      <form method="post">
        <div class="flex flex-col gap-5 border-b border-red-800/50 p-5">
          <div class="flex items-center justify-evenly gap-5">
            <div>
              <input
                name="product_id"
                type="hidden"
                value="{{product['product_id']}}"
              />
              <img
                src="{{product['image_url']}}"
                alt="{{product['product_name']}}"
                style="width: 200px; height: 200px"
              />
            </div>
            <div class="text-center font-bold">
              <p class="text-5xl">{{product['product_name']}}</p>
            </div>
            <div class="flex flex-col gap-1 text-center">
              <p class="text-2xl font-bold">Quantity</p>
              <input
                name="quantity"
                type="number"
                value="{{product['quantity']}}"
                min="1"
              />
            </div>
            <div class="text-center">
              <p class="text-2xl font-bold">
                £{{product['price'] * product['quantity']}}
              </p>
            </div>
            <div class="flex flex-col gap-5">
              <button
                class="pbutton"
                formmethod="post"
                type="submit"
                formaction="{{url_for('delete_cart_item', product_id=product['product_id'])}}"
              >
                Delete Item
              </button>
              <button
                class="sbutton"
                formmethod="post"
                formaction="{{url_for('update_cart', product_id = product['product_id'])}}"
                type="submit"
              >
                Update Quantity
              </button>
            </div>
          </div>
        </div>
      </form>
      {% endfor %}
      <div>
        <div
          class="flex w-full flex-col items-center justify-center gap-5 p-5 text-4xl"
        >
          <p class="text-5xl font-bold">Shipping = £9.99 (UK Delivery)</p>
          <div class="flex">
            <p class="text-5xl font-bold">Cart Total:</p>
            <p class="text-5xl font-bold text-red-700">£{{ cart_total }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-5">
      <form method="post" action="{{url_for('create_checkout_session')}}">
        <button class="pbutton" type="submit">Proceed to Payment</button>
      </form>
      <a class="sbutton" href="{{ url_for('all_products') }}">
        Continue Shopping
      </a>
    </div>
    {% else %}

    <p>Your cart is empty.</p>

    {% endif %}
    <!--  -->
  </div>
</section>
{% endblock %}
