{% extends 'layout.html' %} {% block content %}
<section>
  <div class="container">
    <h3 class="p-5 text-center">Admin Dashboard</h3>
    <div class="flex justify-center">
      <p>Sales Stats</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <p>Options:</p>
      <div class="row-span-2 grid grid-cols-2 gap-5">
        <div class="card p-1 text-center">
          <p class="font-bold">Add New Products</p>
        </div>
        <div class="card p-1 text-center">
          <p class="font-bold">Modify Products</p>
        </div>
        <div class="card p-1 text-center">
          <p class="font-bold">Add New Admin</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
