{% extends 'layout.html' %} {% block content %}
<section>
  <div class="flex flex-col">
    <h3>Admin Dashboard</h3>
    <p>Welcome {{username}}</p>
    <p>What would you like to do?</p>
    <div>
      <div class="shadowcard">
        <a href=" {{url_for('add_new_products')}} ">Add new products</a>
      </div>
      <div class="shadowcard">
        <a href=" {{url_for('add_new_products')}} ">Modify products</a>
      </div>
      <div class="shadowcard">
        <a href=" {{url_for('add_new_products')}} ">Add Admin User</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
