{% extends 'layout.html' %} {% block content %}
<section>
  <div>Search function</div>
  <div class="flex w-full flex-col gap-5 p-5">
    {% for product in products %}
    <div
      class="flex w-full items-center justify-between gap-2 rounded-xl border p-1"
    >
      <div>
        <p>ID</p>
        <p>{{product['product_id']}}</p>
      </div>
      <div>
        <p>Title:</p>
        <p>{{product['product_name']}}</p>
      </div>
      <div class="h-28 w-6xl overflow-scroll border text-center">
        <p>{{product['product_description']}}</p>
      </div>
      <div>
        <p>Price:</p>
        <p>£{{ "%.2f" | format(product["product_price"]) }}</p>
      </div>
      <div>
        <p>Category</p>
        <p>{{product['product_category']}}</p>
      </div>
      <div>
        <p>Active?</p>
        {% if product['product_is_active'] == 1 %}
        <p>Yes</p>
        {% else %}
        <p>No</p>
        {% endif %}
      </div>
      <div>
        <p>Brand</p>
        <p>{{product['product_brand']}}</p>
      </div>
      <div>
        <p>Stock Qty</p>
        <p>{{product['product_stock_qty']}}</p>
      </div>
      <div>
        <p>Gender</p>
        <p>{{product['product_gender']}}</p>
      </div>
      <div>
        <p>Added:</p>
        <p>{{ product['product_created_at'] }}</p>
      </div>
      <div class="flex gap-1">
        {% for image in images %} {% if image['product_id'] ==
        product['product_id'] and image['is_primary'] == 1 %}
        <img
          src="{{ image['image_url'] }}"
          alt="Product Image"
          class="h-24 w-24"
        />
        {% endif %} {% endfor %}
      </div>
      <div class="flex flex-col gap-1">
        <form
          action="{{ url_for('modify_product', product_id = product['product_id']) }}"
          method="post"
        >
          <button class="pbutton" value="{{ product['product_id'] }}">
            Select Product
          </button>
        </form>
        <form
          action="{{ url_for('delete_product', product_id = product['product_id'])}}"
          method="post"
          onsubmit="return confirm('Delete this product?');"
        >
          <button class="sbutton" type="submit">Delete Product</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
