{% extends 'layout.html' %} {% block content %}
<div
  class="group fixed flex h-15 w-15 items-center justify-center rounded-full border bg-red-800 text-center"
>
  <h1>?</h1>
  <div
    class="fixed top-10 left-0 hidden h-1/2 w-1/2 items-center justify-center bg-white p-5 group-hover:flex group-hover:flex-col"
  >
    <p>
      This is the Add Products page, where new products can be created and
      stored in the system.
    </p>

    <p>
      When a product is added, the image upload is handled through Cloudinary,
      which stores the image in the cloud and returns a secure URL. This URL is
      then saved alongside the product data so it can be displayed throughout
      the website.
    </p>

    <p>
      The application currently uses a local SQLite3 database file to manage and
      store all product and user data. Flask is used to connect the front-end of
      the website to the database, allowing data to be inserted, retrieved, and
      displayed dynamically.
    </p>

    <p>
      A planned improvement is to migrate the database to an online solution
      such as Supabase, and to use SQLAlchemy as the ORM. This would improve
      scalability, make database management more flexible, and provide better
      integration for future development.
    </p>
  </div>
</div>
<section>
  <div>
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
    <h3>Add a new product</h3>
    <form
      action="/add_new_products"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="name">Product Name:</label>
      <input type="text" name="name" />

      <label for="description">Description</label>
      <textarea name="description" rows="5" cols="50"></textarea>

      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option value="Men">Men</option>
        <option value="Women">Women</option>
        <option value="Children">Children</option>
        <option value="Unisex">Unisex</option>
      </select>

      <label for="category">Category</label>
      <input type="text" name="category" />

      <label for="price">Price</label>
      <input type="number" name="price" step="0.01" />

      <label for="brand">Brand</label>
      <input type="text" name="brand" />

      <label for="quantity">Stock Quantity</label>
      <input type="number" name="quantity" step="1" />

      <label for="image">Upload product images</label>
      <input type="file" multiple accept="image/*" name="images" required />

      <button class="pbutton p-1" type="submit">Add Product</button>
    </form>
  </div>
</section>
{% endblock %}
<!-- the enctype I have included as instructed by ChatGPT as this is what helps the backend (flask) recieve each file as there is also more than one I also added the acept="image/*" to prevent none image uploads (CHATGPT recommended) -->
