{% extends 'layout.html' %} {% block content %}
<div
  class="group fixed flex h-15 w-15 items-center justify-center rounded-full border bg-red-800 text-center"
>
  <h1>?</h1>
  <div
    class="fixed top-10 left-0 hidden h-1/2 w-1/2 items-center justify-center bg-white p-5 group-hover:flex group-hover:flex-col"
  >
    <p>
      This page provides two different login accounts, each offering a different
      level of access:
    </p>

    <p>
      <strong>Owner</strong><br />
      Username: <code>owner</code><br />
      Password: <code>password</code>
    </p>

    <p>
      <strong>Admin</strong><br />
      Username: <code>admin</code><br />
      Password: <code>admin</code>
    </p>

    <p>The 'forgot login' feature has not yet been implemented.</p>
  </div>
</div>
<div class="flex h-screen w-screen items-center justify-center text-center">
  <div
    class="flex w-9/10 flex-col items-center rounded-2xl p-5 shadow-2xl shadow-gray-500 lg:w-1/2"
  >
    <h3>Admin Login</h3>
    <!-- <div>{% if message %} {{message}} {% endif %}</div> -->
    <form action="/admin" method="post">
      <div class="mb-1">
        <label class="font-bold">Username:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label for="password" class="font-bold">Password:</label>
        <input type="password" name="password" />
      </div>
      <input type="submit" class="pbutton mt-1" value="Login" />
    </form>
    <p><a href="#">Forgot Password?</a></p>
  </div>
</div>
{% endblock %}
