{% extends 'layout.html' %} {% block content %}
<section>
  <div>
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
  </div>
  {% if session['admin_role'] == 'owner' %}
  <div>
    <h3>Modify Admin:</h3>
    {% for admin in admins %}
    <div class="flex gap-10 rounded-2xl border p-1">
      <form action="/modify_admins" method="post">
        <label for="admin_id">Admin ID: {{ admin['admin_id'] }} </label>
        <input type="hidden" name="admin_id" value="{{ admin['admin_id'] }}" />

        <label for="name">Admin Name:</label>
        <input name="name" type="text" value="{{ admin['name'] }}" />

        <label for="role">Role:</label>
        <select name="role">
          <option value="{{ admin['role'] }}" selected>
            {{ admin['role']}}
          </option>
          <option value="owner">Owner</option>
          <option value="admin">Admin</option>
        </select>

        <label for="password">Update Password:</label>
        <input name="password" type="password" />

        <button class="pbutton p-1" type="submit">Update Admin</button>
      </form>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock %}
