<a href="#"
  ><div
    class="flex min-h-10 w-full items-center justify-center bg-amber-500/50 p-0.5 text-center"
  >
    <span>➡️ Get a staggering 25% OFF your first order!</span>
  </div></a
>
<div
  class="flex min-h-15 w-full items-center justify-between rounded-b-md border-b-black bg-white p-2.5 text-center align-middle shadow-[0_5px_10px_rgba(0,0,0,0.2)] lg:rounded-none"
>
  <a href="{{ url_for('home') }}">
    <div class="flex min-h-10 min-w-30">
      <img
        src="{{ url_for('static', filename='media/logo.png') }}"
        alt="logo"
      /></div
  ></a>
  <div
    class="hidden lg:flex lg:h-10 lg:items-center lg:justify-center lg:align-middle"
  >
    <nav class="flex">
      <ul class="flex gap-2 font-bold">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">SALE</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        {% if not session %}
        <li><a href="{{ url_for('login') }}">Login/Register</a></li>
        {% else %}
        <li><a href="{{ url_for('account') }}">My Account</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div
    class="flex h-7 w-8 flex-col justify-between lg:hidden"
    id="menuButton"
    onclick="menuButton()"
  >
    <span class="w-full rounded-2xl border-t-2"></span>
    <span class="w-full rounded-2xl border-t-2"></span>
    <span class="w-full rounded-2xl border-t-2"></span>
  </div>
</div>
<div
  class="fixed top-0 right-0 z-50 flex h-screen w-3/4 translate-x-full flex-col bg-(--color-bg) transition-transform duration-500 ease-in-out lg:hidden"
  id="menuSlider"
>
  <div class="flex w-full items-center justify-end align-middle">
    <div
      class="flex h-8 w-8 flex-col justify-center gap-5 text-center"
      id="menuButton"
      onclick="menuButton()"
    >
      <svg
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 122.88 119.79"
      >
        <title>close-window</title>
        <path
          d="M23.5,0H99.38a23.56,23.56,0,0,1,23.5,23.5V96.29a23.56,23.56,0,0,1-23.5,23.5H23.5a23.44,23.44,0,0,1-16.6-6.9l-.37-.4A23.43,23.43,0,0,1,0,96.29V23.5A23.56,23.56,0,0,1,23.5,0ZM41,49.35a7,7,0,0,1,9.89-9.89L61.44,50,72,39.46a7,7,0,1,1,9.89,9.9L71.33,59.9,81.87,70.43A7,7,0,0,1,72,80.33L61.44,69.79,50.9,80.33A7,7,0,0,1,41,70.43L51.55,59.89,41,49.35ZM99.38,12.52H23.5a11,11,0,0,0-11,11V96.29a10.92,10.92,0,0,0,3,7.49l.27.26a11,11,0,0,0,7.75,3.23H99.38a11,11,0,0,0,11-11V23.5a11,11,0,0,0-11-11Z"
        />
      </svg>
    </div>
  </div>
  <nav class="w-full">
    <ul>
      <li
        class="flex h-10 w-full items-center justify-between border-b border-b-amber-500/50 p-1 text-center align-middle"
      >
        <a href="{{ url_for('home') }}">Home</a>
        <div class="h-2 w-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            shape-rendering="geometricPrecision"
            text-rendering="geometricPrecision"
            image-rendering="optimizeQuality"
            fill-rule="evenodd"
            clip-rule="evenodd"
            viewBox="0 0 298 511.93"
          >
            <path
              fill-rule="nonzero"
              d="M70.77 499.85c-16.24 16.17-42.53 16.09-58.69-.15-16.17-16.25-16.09-42.54.15-58.7l185.5-185.03L12.23 70.93c-16.24-16.16-16.32-42.45-.15-58.7 16.16-16.24 42.45-16.32 58.69-.15l215.15 214.61c16.17 16.25 16.09 42.54-.15 58.7l-215 214.46z"
            />
          </svg>
        </div>
      </li>
      <li
        class="flex h-10 w-full items-center justify-between border-b border-b-amber-500/50 p-1 text-center align-middle"
      >
        <a href="{{ url_for('about') }}">About</a>
        <div class="h-2 w-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            shape-rendering="geometricPrecision"
            text-rendering="geometricPrecision"
            image-rendering="optimizeQuality"
            fill-rule="evenodd"
            clip-rule="evenodd"
            viewBox="0 0 298 511.93"
          >
            <path
              fill-rule="nonzero"
              d="M70.77 499.85c-16.24 16.17-42.53 16.09-58.69-.15-16.17-16.25-16.09-42.54.15-58.7l185.5-185.03L12.23 70.93c-16.24-16.16-16.32-42.45-.15-58.7 16.16-16.24 42.45-16.32 58.69-.15l215.15 214.61c16.17 16.25 16.09 42.54-.15 58.7l-215 214.46z"
            />
          </svg>
        </div>
      </li>
      <li
        class="flex h-10 w-full items-center justify-between border-b border-b-amber-500/50 p-1 text-center align-middle"
      >
        <a class="font-bold" href="#">SALE</a>
        <div class="h-2 w-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            shape-rendering="geometricPrecision"
            text-rendering="geometricPrecision"
            image-rendering="optimizeQuality"
            fill-rule="evenodd"
            clip-rule="evenodd"
            viewBox="0 0 298 511.93"
          >
            <path
              fill-rule="nonzero"
              d="M70.77 499.85c-16.24 16.17-42.53 16.09-58.69-.15-16.17-16.25-16.09-42.54.15-58.7l185.5-185.03L12.23 70.93c-16.24-16.16-16.32-42.45-.15-58.7 16.16-16.24 42.45-16.32 58.69-.15l215.15 214.61c16.17 16.25 16.09 42.54-.15 58.7l-215 214.46z"
            />
          </svg>
        </div>
      </li>
      <li
        class="flex h-10 w-full items-center justify-between border-b border-b-amber-500/50 p-1 text-center align-middle"
      >
        <a href="#">Categories</a>
        <div class="h-2 w-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            shape-rendering="geometricPrecision"
            text-rendering="geometricPrecision"
            image-rendering="optimizeQuality"
            fill-rule="evenodd"
            clip-rule="evenodd"
            viewBox="0 0 298 511.93"
          >
            <path
              fill-rule="nonzero"
              d="M70.77 499.85c-16.24 16.17-42.53 16.09-58.69-.15-16.17-16.25-16.09-42.54.15-58.7l185.5-185.03L12.23 70.93c-16.24-16.16-16.32-42.45-.15-58.7 16.16-16.24 42.45-16.32 58.69-.15l215.15 214.61c16.17 16.25 16.09 42.54-.15 58.7l-215 214.46z"
            />
          </svg>
        </div>
      </li>
      <li
        class="flex h-10 w-3/4 items-center justify-between border-b border-b-red-500/50 p-1 text-center align-middle"
      >
        MENS
      </li>
      <li
        class="flex h-10 w-3/4 items-center justify-between border-b border-b-red-500/50 p-1 text-center align-middle"
      >
        WOMENS
      </li>
      <li
        class="flex h-10 w-3/4 items-center justify-between border-b border-b-red-500/50 p-1 text-center align-middle"
      >
        CHILDRENS
      </li>
      <li
        class="flex h-10 w-3/4 items-center justify-between border-b border-b-red-500/50 p-1 text-center align-middle"
      >
        ACCESSORIES
      </li>
      <li
        class="flex h-10 w-full items-center justify-between border-b border-b-amber-500/50 p-1 text-center align-middle"
      >
        <a href="{{ url_for('login') }}">Login/Register</a>
        <div class="h-2 w-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            shape-rendering="geometricPrecision"
            text-rendering="geometricPrecision"
            image-rendering="optimizeQuality"
            fill-rule="evenodd"
            clip-rule="evenodd"
            viewBox="0 0 298 511.93"
          >
            <path
              fill-rule="nonzero"
              d="M70.77 499.85c-16.24 16.17-42.53 16.09-58.69-.15-16.17-16.25-16.09-42.54.15-58.7l185.5-185.03L12.23 70.93c-16.24-16.16-16.32-42.45-.15-58.7 16.16-16.24 42.45-16.32 58.69-.15l215.15 214.61c16.17 16.25 16.09 42.54-.15 58.7l-215 214.46z"
            />
          </svg>
        </div>
      </li>
    </ul>
  </nav>
</div>
